
<h1 class="centered">Analytics</h1>

<div class="row">
  <div class="col-sm-6">
    <h3 style="text-align:center;">Totals</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tr>
        <td>Total Revenue Ever</td>
        <td>{{#formatMoney totalRevenue.revenue}}{{/formatMoney}}</td>
      </tr>
      <tr>
        <td>Total Units</td>
        <td>{{totalUnits}}</td>
      </tr>
      <tr>
        <td>Total Transactions</td>
        <td>{{totalTransactions}}</td>
      </tr>
      <tr>
        <td>Total Customers</td>
        <td>{{totalCustomers}}</td>
      </tr>
      <tr>
        <td>Total Products</td>
        <td>{{totalProducts}}</td>
      </tr>
      <tr>
        <td>Total Categories</td>
        <td>{{totalCategories}}</td>
      </tr>
      <tr>
        <td>Total States Sold To</td>
        <td>{{totalStatesSoldTo}}</td>
      </tr>
    </table>
  </div>

  <div class="col-sm-6">
  <h3 style="text-align:center;">Revenue by Categories</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    {{#each categoryRevenues as |categoryRevenue|}}
      <tr>
        <td>{{categoryRevenue._id}}</td>
        <td>{{#formatMoney categoryRevenue.revenue}}{{/formatMoney}}</td>
      </tr>
    {{/each}}
  </table>
  </div>

  <div class="col-sm-6">
  <h3 style="text-align:center;">Revenue by State</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    {{#each stateRevenues as |stateRevenue|}}
      <tr>
        <td>{{stateRevenue._id}}</td>
        <td>{{#formatMoney stateRevenue.revenue}}{{/formatMoney}}</td>
      </tr>
    {{/each}}
  </table>
  </div>

  <div class="col-sm-6">
  <h3 style="text-align:center;">Revenue by Product</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    {{#each productRevenues as |productRevenue|}}
      <tr>
        <td>{{productRevenue._id}}</td>
        <td>{{#formatMoney productRevenue.revenue}}{{/formatMoney}}</td>
      </tr>
    {{/each}}
  </table>
  </div>

  
</div>




