  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ rootPath }}">{{ appName }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/products">Products</a>
          </li>
          <li class="nav-item dropdown" data-toggle="tooltip" data-placement="right" title="Cart">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-shopping-cart"></i>{{#if cart.length}}({{cart.length}}){{/if}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-dark" href="/cart">Cart</a>
              {{#if cart.length}}
                {{#each cart as |item|}}
                  <a class="dropdown-item" href="/cart">{{item.quantity}} {{item.name}}</a>
                {{/each}}
              {{/if}}
              <a class="dropdown-item text-dark" href="/checkout">Checkout</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin" data-toggle="tooltip" data-placement="right" title="Past Orders"><i class="fas fa-tachometer-alt" ></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin/analytics" data-toggle="tooltip" data-placement="right" title="Analytics"><i class="fas fa-calculator"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
