<h1 class="centered">Shopping Cart</h1>

<div class="row">
  <div class="col-md-3">
    <h4>Total: ${{total}}</h4>
    <a href="/checkout">
      <button class="btn btn-primary">Checkout</button>
    </a>
    <form method="post" action="/cart" style="display:inline-block">      
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="btn btn-danger" value="Clear Cart">
    </form> 
  </div>
  <div class="col-md-9">
    {{#if cart}}
      {{#each cart as |product|}}
        <div class="row">
          <div class="col-md-8">
            <div class="product-square">
              <div class="product-info">
                <div class="product-image">
                  <img src="{{product.image}}">
                </div>
                <div class="product-description">
                  <div>
                    <a href="/products/{{product.id}}"><strong>{{product.name}}</strong></a>
                  </div>
                  
                  <div>
                    <strong>Price: $</strong>{{product.price}}
                  </div>
                  <div>
                    <strong>Category: </strong><a href="/products?category={{product.CategoryId.name}}">{{product.CategoryId.name}}</a>
                  </div>
                  <div>
                    <strong>Description: </strong>{{product.description}}
                  </div>
                  <div>
                    <strong>Sku: </strong>{{product.sku}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-square">
              <div class="product-info">
              <form action="/cart" method="post" >
                <div class="form-group">
                  <label style="display:inline-block;margin-right:5px;">Quantity:</label><input style="display:inline-block;width:50px;" class="form-control" type="number" value="{{product.quantity}}" name="quantity">
                </div>

                <div class="form-group">
                  <input class="btn btn-sm"type="submit" value="Update Quantity">
                </div>
                <input type="hidden" name="_method" value="put">        
                <input type="hidden" name="productId" value="{{product.id}}">
              </form>
              <form action="/cart" method="post" >
                <div class="form-group">
                  <input class="btn btn-sm btn-danger" type="submit" value="Remove from Cart">
                </div>
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="productId" value="{{product.id}}">
                <input type="hidden" name="quantity" value="0">
              </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h3>Your cart is empty. Don't you love all of these fake products? Shop til ya drop baby!</h3>
    {{/if}}
  </div>
  
</div>