<h3 style="text-align:center">Products</h3>


{{#each arrays as |array|}}
<div class="row">
  {{#each array as |product|}}
  <div class="col-md-4">
    <div class="product-square">
      <a href='/products/{{product.id}}'>
        <div>
          <strong>Name: </strong>{{product.name}}
        </div>
        <div>
          <strong>Price: </strong>{{product.price}}
        </div>
        <div>
          <strong>Description: </strong>{{product.description}}
        </div>
        <div>
          <strong>Sku: </strong>{{product.sku}}
        </div>
        <div>
          <strong>Category: </strong>{{product.CategoryId.name}}
        </div>
      </a>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
