<h3 style="text-align:center">Products</h3>


<div class='container'>
<div class="from-group row">
<form class="search" method="get" action="/products">
<input type="text" class="form-control" placeholder="Search" name="search">
<input class="float-right" value="Submit Search" type="submit">
</form>
</div>
 <div class='row'>
  <form class="form-control" action='/products/' method="get">  
  <select name="category">
  <option value="">Filter By Category</option> 
  {{#each categories as |category|}}
  <option value="{{category}}">{{category}}</option> 
  {{/each}}
  </select>
  <select name="minPrice">
  <option value="">Min Price</option> 
  <option value="200">200</option> 
  <option value="400">400</option>
  <option value="600">600</option>
  <option value="800">800</option>
  <option value="1000">1000</option>
  </select>
  <select name="maxPrice">
  <option value="">Max Price</option> 
  <option value="200">200</option> 
  <option value="400">400</option>
  <option value="600">600</option>
  <option value="800">800</option>
  <option value="1000">1000</option>
  </select>
  <input class="float-right" value="Submit Filter" type="submit">
  </form>
 </div>
</div>
<div class='container'>
 <div class='row'>
  <form class="form-control" action='/products' method="get">
  
  <select name="sort">
  <option value="sortNameAscend">Sort By Name Ascending</option> 
  <option value="sortNameDescend">Sort By Name Descending</option> 
  <option value="sortPriceAscend">Sort By Price Ascending</option>
  <option value="sortPriceDescend">Sort By Name Descending</option>
  <option value="sortNewest">Sort By Newest First</option>
  <option value="sortOldest">Sort By Oldest First</option>
  </select>
  <input class="float-right" value="Submit Sort By Filter" type="submit">
  </form>
 </div>
</div>


{{#each arrays as |array|}}
<div class="row">
  {{#each array as |product|}}
  <div class="col-md-4">
    <div class="product-square">
      <a href='/products/{{product.id}}'>
        <div>
          <strong>Name: </strong>{{product.name}}
        </div>
        <div>
          <strong>Price: </strong>{{product.price}}
        </div>
        <div>
          <strong>Description: </strong>{{product.description}}
        </div>
        <div>
          <strong>Sku: </strong>{{product.sku}}
        </div>
        <div>
          <strong>Category: </strong>{{product.CategoryId.name}}
        </div>
      </a>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
