        <div>
          {{product.name}}
        </div>
        <div>
          {{product.price}}
        </div>
        <div>
          {{product.description}}
        </div>
        <div>
          {{product.sku}}
        </div>
        <div>
          {{product.categoryId.name}}
        </div>